/* ===== VARIABLES ===== */
:root {
    /* Color de fondo y texto */
    --background-color: #e3e3e3;
    --text-color: #30343F;

    /* Color primario */
    --primary-color: #111;
    --primary-text-color: #FAFAFF;

    /* Color secundario */
    --secondary-text-color: #E4D9FF;

    /* Color de surface (superficie 1-2-3) */
    --surface-color: #FAFAFF;
    --surface-text-color: var(--text-color);

    --accent-color-1: #273469;
    --accent-text-color: #FAFAFF;
    --accent-color-2: #1E2749;


}

/* ===== RESET SIMPLE ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-color);
    color: var(--text-color);

    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

}

header {
    min-height: 10vh;
}
main {
    min-height: 80vh;
}
footer {
    min-height: 10vh;
}
/* ===== HEADER ===== */
header {
    background: #111;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    font-size: 1.6em;
    font-weight: bold;
}

.logo a {
    color: var(--primary-text-color);
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
}

nav a:hover,
.logo a:hover {
    /* mismo color, 80% de opacidad */
    color: rgb(from var(--primary-text-color) r g b / 80%);
}

/* ===== FIN HEADER ===== */

/* ===== BANNER PRINCIPAL ===== */
.banner {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(120deg, var(--accent-color-1), var(--accent-color-2));
    color: white;
}

.banner h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.banner p {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    background: var(--primary-color);
    color: var(--primary-text-color);
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    transition: 0.3s ease;
    background: rgb(from var(--primary-color) r g b / 60%);
}

/* ===== FIN BANNER PRINCIPAL ===== */

/* ===== PRODUCTOS ===== */
section {
    padding: 28px 40px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.productos-grid {
    display: grid;
    /* Separación de 25 píxeles */
    gap: 25px;
    /*
    Distribuir automáticamente los productos
    auto-fit: ajustar el número de columnas según el espacio disponible
    minmax(250px, 1fr): cada columna tendrá un tamaño mínimo de 250px y un tamaño máximo de 1fr (fracción del espacio disponible)
    */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.producto {
    background: var(--surface-color);
    color: var(--surface-text-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.producto img {
    width: 100%;
    border-radius: 10px;
}


.precio {
    font-size: 1.4em;
    color: var(--accent-color-1);
    margin: 10px 0;
    font-weight: bold;
}

.oferta {
    position: relative;
}

.etiqueta {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--accent-color-1);
    color: var(--accent-text-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

a {
    text-decoration: none;
}

/* ===== OFERTAS CARDS ===== */
.productos-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.categoria-card {
    width: 100%;
}

.categoria-card div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    width: 100%;

    height: 200px;
    overflow: hidden;
    color: var(--surface-text-color);
    text-decoration: none;
    border-radius: 10px;
    background: var(--surface-color);
}

.categoria-card div div:first-child {
    width: 40%;
    height: 100%;
}

.categoria-card div img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.categoria-card div div:last-child {
    width: 60%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.producto,
.categoria-card {
    /* mismo color, 20% de opacidad */
    box-shadow: 10px 10px 10px rgb(from var(--primary-color) r g b / 20%);

}

.producto:hover,
.categoria-card:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 15px 15px 15px rgb(from var(--primary-color) r g b / 20%);
    transform: scale(1.02);
}

/* ===== FOOTER ===== */
footer {
    text-align: center;
    background: var(--primary-color);
    color: var(--primary-text-color);
    padding: 15px;
    margin-top: 40px;
}

.section-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* ==== RESPONSIVE ==== */
/* ===== Tablets (>= 600px): 2 columnas ===== */
@media (min-width: 600px) {
    .categoria-card {
        width: calc(50% - 20px);
    }
}

/* ===== Escritorio (>= 900px): 3 columnas ===== */
@media (min-width: 900px) {
    .categoria-card {
        width: calc(33.33% - 20px);
    }

    .categoria-card div div:first-child {
        width: 50%;
    }
    .categoria-card div div:last-child {
        width: 50%;
        
    }
}